/* theme colours */
body {
  font-family: "source-han-sans-japanese";
  font-weight: 300;
  background-color: #f0f7f4;
  color: #121619;
}
a:link {
  color: #db504a;
  text-decoration: underline;
}
a:active {
  color: #db504a;
  text-decoration: underline;
}
a:visited {
  color: #db504a;
  text-decoration: underline;
}
a:hover {
  color: #eca29f;
  text-decoration: none;
}
header {
  padding: 2em;
  background-color: #ffffff;
}
header h1 {
  margin: 0;
  border-bottom: solid 1px #276820;
  font-family: "adelle";
  font-weight: 400;
  text-align: center;
}
header h1::first-letter {
  font-size: 1.2em;
  color: #276820;
}
header blockquote {
  margin: 10px;
  color: #677e90;
  font-size: 0.6em;
}
footer {
  padding: 1em 2em;
}
footer p {
  padding-top: 0.5em;
  border-top: solid 1px #276820;
  text-align: center;
}
main section {
  clear: both;
  padding: 1em 1em;
  font-size: 0.9em;
}
main section h2 {
  position: relative;
  padding-left: 0.6em;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1.7em;
}
main section h2::after {
  position: absolute;
  top: 0.25em;
  left: 0.2em;
  width: 0.2em;
  height: 1em;
  content: '';
  background-color: #db504a;
  border-radius: 3px;
}
main section p {
  margin: 0;
}
main section p::before {
  content: "　";
}
main section dl dt {
  float: left;
  clear: left;
  width: 5em;
}
main section dl dd {
  float: left;
  margin: 0;
}
@media screen and (min-width: 48em) {
  header {
    padding: 5em 5em 3em;
  }
  header h1 {
    font-size: 4.5em;
  }
  header blockquote {
    margin: 0 auto;
    max-width: 400px;
  }
  footer {
    padding: 2em 5em 1em;
  }
  main section {
    width: 500px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 64em) {
  header blockquote {
    margin: 0 auto;
    max-width: 600px;
  }
  main h2 {
    font-size: 2em;
  }
  main section {
    width: 750px;
    margin: 0 auto;
  }
}
