{% extends "../template.html" %}
{% block title %}{{ article-set-title }}{% endblock %}

{% block head %}
<meta name="og:url" content="https://t-sin.github.io/">
<meta name="og:title" content="Ibotenic - diary - {{ title }}}">
<!--meta name="og:image" content="https://www.itra.co.jp/uploads/media/2019/05/20190528171315_1.jpg"-->
<meta name="og:description" content="日記ブログです。">
<meta name="og:type" content="article">
{% endblock %}

{% block content %}

<h1>{{ article-set-title }}</h1>

雑に思ったこととか日々のこととかを書いてみます。

<h2>最新20件の記事</h2>

<ul id="article-list">
  {% for article-info in article-info-list %}
  <li>
    <h3><a href="./{{ article-info.link }}">{{ article-info.title }}</a></h3>
    <p class="tags">
      {% for tag in article-info.tags %}
      <span><a href="{{ tag }}.html">{{ tag }}</a></span>
      {% endfor %}
    </p>
    <p class="date">{{ article-info.created-at }}</p>
    <p class="description">{{ article-info.description }}</p>
  </li>
  {% endfor %}
</ul>

<h2>タグ一覧</h2>

<p class="tags">
  {% for tag in tags %}
  <span><a href="{{ tag }}.html">{{ tag }}</a></span>
  {% endfor %}
</p>

{% endblock %}
