/* theme colours */
@text: rgba(18, 22, 25, 1);
@accent: rgba(39, 104, 32, 1);
@accent2: rgba(219, 80, 74, 1);
@bg: rgba(240, 247, 244, 1);
@bg2: rgba(255, 255, 255, 1);

@font-title: "adelle";
@font-main: "source-han-sans-japanese";

body {
    font-family: @font-main;
    font-weight: 300;
    background-color: @bg;
    color: @text;
}

a:link {
    color: @accent2;
    text-decoration: underline;
}
a:active {
    color: @accent2;
    text-decoration: underline;
}
a:visited {
    color: @accent2;
    text-decoration: underline;
}
a:hover {
    color: lighten(@accent2, 20%);
    text-decoration: none;
}

header {
    padding: 2em;
    background-color: @bg2;

    h1 {
        margin: 0;
        border-bottom: solid 1px @accent;

        font-family: @font-title;
	    font-weight: 400;
        text-align: center;
    }

    h1::first-letter {
        font-size: 1.2em;
        color: @accent;
    }

    blockquote {
        margin: 10px;
        color: lighten(@text, 40%);
        font-size: 0.6em;
    }
}

footer {
    padding: 1em 2em;

    p {
        padding-top: 0.5em;
        border-top: solid 1px @accent;
        text-align: center;
    }
}

main section {
    clear: both;
    padding: 1em 1em;
    font-size: 0.9em;

    h2 {
        position: relative;
        padding-left: 0.6em;

        background-color: @bg2;
        border-radius: 5px;
        font-size: 1.7em;
    }
    h2::after {
        position: absolute;
        top: 0.25em;
        left: 0.2em;
        width: 0.2em;
        height: 1em;
        content: '';
        background-color: @accent2;
        border-radius: 3px;
    }

    p {
        margin: 0;
    }
    p::before {
        content: "　";
    }

    dl {
        dt {
            float: left;
            clear: left;
            width: 5em;
        }
        dd {
            float: left;
            margin: 0;
        }
    }
}

@media screen and (min-width: 48em) {
    header {
        padding: 5em 5em 3em;

        h1 {
            font-size: 4.5em;
        }

        blockquote {
            margin: 0 auto;
            max-width: 400px;
        }
    }

    footer {
        padding: 2em 5em 1em;
    }

    main {
        section {
            width: 500px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 64em) {
    header {
        blockquote {
            margin: 0 auto;
            max-width: 600px;
        }
    }
    main {
        h2 {
            font-size: 2em;
        }
        section {
            width: 750px;
            margin: 0 auto;
        }
    }
}

