{% extends "template.html" %}
{% block title %}index{% endblock %}

{% block content %}
<section>
  <a href="https://github.com/lem-project/lem">Lem</a>とSKKとCommon Lispでたたかうプログラマのブログとか紹介とかのウェブページです。
</section>

<section>
  <h2>技術の記録: 最新10件</h2>
  <ul id="article-list">
    {% for article-info in article-set-info-list.techblog.article-info %}
    {% if forloop.counter <= 10 %}
    <li>
      <h3><a href="/techblog/{{ article-info.link }}">{{ article-info.title }}</a></h3>
      <p class="tags">
        {% for tag in article-info.tags %}
        <span><a href="/techblog/{{ tag }}.html">{{ tag }}</a></span>
        {% endfor %}
      </p>
      <p class="date">{{ article-info.created-at }}</p>
      <p class="description">{{ article-info.description }}</p>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<section>
  <h2>日々の記録: 最新10件</h2>
  <ul id="article-list">
    {% for article-info in article-set-info-list.diary.article-info %}
    {% if forloop.counter <= 10 %}
    <li>
      <h3><a href="/techblog/{{ article-info.link }}">{{ article-info.title }}</a></h3>
      <p class="tags">
        {% for tag in article-info.tags %}
        <span><a href="/techblog/{{ tag }}.html">{{ tag }}</a></span>
        {% endfor %}
      </p>
      <p class="date">{{ article-info.created-at }}</p>
      <p class="description">{{ article-info.description }}</p>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

{% endblock %}
