article p {
  margin: 1em 0 0em;
/*  text-indent: 1em; */
}

article ul {
  margin: 1em 0 1em;
/*  text-indent: 1em; */
}

article ol {
  margin: 1em 0 1em;
/*  text-indent: 1em; */
}

article code {
  margin: 0 2px;
  padding: 2px 4px;
  border: solid 1px #77a541;
  border-radius: 5px;
  background-color: #ebf3e1;
  font-family: monospace;
}

article pre {
  margin: 1em 0;
  padding: 1em;
  border-radius: 8px;
  background-color: #272b23;
  color: #f7fbf3;
  line-height: 1.25em;
}

article pre code {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}