{% extends "template.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link href="/markdown.css" rel="stylesheet">

<meta name="og:url" content="https://t-sin.github.io/">
<meta name="og:title" content="Ibotenic - {{ title }}}">
<!--meta name="og:image" content="https://www.itra.co.jp/uploads/media/2019/05/20190528171315_1.jpg"-->
<meta name="og:description" content="{{ description }}">
<meta name="og:type" content="article">

{% endblock %}

{% block content %}{{ content|safe }}{% endblock %}
