* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #333333;
  font-size: 18px;
  font-family: sans-serif;
}

/* header and footer */

header {
  margin-bottom: 2em;
  padding: 40px;
  background-color: #4b6338;
  color: #eeeeee;
  font-size: 1.2em;
}

header h1 a:hover {
  text-decoration: none;
  font-weight: 200;
}

header h1 .website-title {
  font-size: 1.25em;
  font-weight: 200;
}

header h1 .website-by {
  font-size: 0.5em;
  font-weight: 200;
}

header h1 .website-author {
  font-weight: 200;
  font-size: 0.7em;
  color: #dddddd;
}

header hr {
  margin: 0;
  border-style: solid none none none;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.4);
}

header nav ul {
  padding-left: 0px;
  list-style: none;
}

header nav ul li {
  margin: 0 5px;
  display: inline-block;
  font-size: 0.8em;
}

header a {
  color: #eeeeee;
  text-decoration: none;
  font-weight: 300;
}

header a:hover {
  color: #f0f0f0;
  text-decoration: underline;
  font-weight: 300;
}

footer {
  clear: both;
  max-width: 1000px;
  margin: 1em 0;
  padding: 0 40px;
  font-size: 0.9em;
}

footer hr {
  margin: 1em 0;
  border-style: solid none none none;
  border-width: 1px;
  border-color: #555555;
}

/* content */

div#page-info {
  max-width: 500px;
  margin-top: 3em;
  font-size: 0.8em;
}

div#content {
  padding: 20px 40px;
  max-width: 1000px;
}

h2 {
  margin: 2em 0 0.5em;
  font-size: 1.7em;
}

h3 {
  margin: 1em 0 0.5em;
  font-size: 1.4em;
}

h4 {
  margin: 1em 0 0.5em;
  font-size: 1.2em;
}

h5 {
  margin: 1em 0 0.5em;
  font-size: 1em;
}

a {
  color: #213510;
  text-decoration: underline;
}

a:hover {
  color: #305020;
  text-decoration: none;
}

ul {
  padding-left: 40px;
}

ol {
  padding-left: 40px;
}

hr {
  margin: 4em 0 2em;
  border-style: solid none none none;
  border-width: 1px;
  border-color: #888888;
}

p.tags span {
  margin: 10px 0;
  padding: 0 2px;
  font-size: 0.8em;
  background-color: #ffffff;
  color: #3e3e3e;
  border: solid 1px #708e75;;
  border-radius: 3px;
}

p.tags span a {
  text-decoration: none;
}

ul#article-list {
  padding-left: 20px;
  list-style-type: none;
  font-size: 1em;
}

ul#article-list h2,h3,h4 {
  margin: 1em 0 0px;
  font-size: 1.25em;
}

ul#article-list .date {
  font-size: 0.8em;
  color: #888888;
}

ul#article-list .description {
  font-size: 1em;
}

.article-nav {
  margin: 1em 0 2em;
  max-width: 400px;
}

.article-nav .nav-label {
  font-size: 0.8em;
}

.nav-left {
  float: left;
  text-align: left;
}

.nav-right {
  float: right;
  text-align: right;
}
