<html>
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - {{ website-title }}</title>
    <link href="/style.css" rel="stylesheet">

    {% block head %}
    <meta name="og:url" content="https://t-sin.github.io/">
    <meta name="og:title" content="Ibotenic">
    <!--meta name="og:image" content="https://www.itra.co.jp/uploads/media/2019/05/20190528171315_1.jpg"-->
    <meta name="og:description" content="LemとSKKとCommon Lispでたたかうプログラマのブログとか紹介とかのウェブページです。">
    <meta name="og:type" content="article">
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>
        <a href="/" class="website-title">{{ website-title }}</span>
        <span class="website-by">by</span>
        <span class="website-author">{{ website-author }}</span>
      </h1>
      <hr />
      <nav>
        <ul>
          <li><a href="/about.html">About</a></li>
          <li><a href="/works.html">Works</a></li>
          <li><a href="/techblog/">Tech Blog</a></li>
          <li><a href="/diary/">Diary</a></li>
        </ul>
      </nav>
    </header>

    <div id="content">
      {% block content %}{% endblock %}

      <div id="page-info">
        <p>{{ description }}</p>
        {% if tag-info-list %}
        <p>
          タグ:
          {% for tag in tag-info-list %}
          <a href="{{ tag.link }}">{{ tag.name }}</a>
          {% if not forloop.last %},{% else %}{% endif %}
          {% endfor %}
        </p>
        {% endif %}
        {% if created-at %}<p>作成日時: {{ created-at }}</p>{% else %}{% endif %}
        {% if updated-at %}<p>更新日時: {{ updated-at }}</p>{% else %}{% endif %}
      </div>

      {% block navigator %}{% endblock %}
    </div>

    <footer>
      <hr>
      <p><a href="https://github.com/t-sin/t-sin.github.io">Here is the source code of this site.</a></p>
    </footer>
  </body>
</html>
