{% extends "../template.html" %}
{% block title %}{{ title }} - {{ article-set-title }}{% endblock %}

{% block content %}{{ content|safe }}{% endblock %}

{% block navigator %}
<nav>
  <div class="article-nav nav-left">
    <p class="nav-label">1つ新しい記事</p>
    {% if next-article %}
    <a href="{{ next-article.name }}.html">{{ next-article.title }}</a>
    {% else %}
    -
    {% endif %}
  </div>

  <div class="article-nav nav-right">
    <p class="nav-label">1つ古い記事</p>
    {% if prev-article %}
    <a href="{{ prev-article.name }}.html">{{ prev-article.title }}</a>
    {% else %}
    -
    {% endif %}
  </div>
</nav>
{% endblock %}
